.test {
    border: 1px black solid;
}

h1 {
    display: flex;
    justify-content: center;
}

.bodyUp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 25px;
}

#jeu, #motAffiche{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

/* Ajoutez le style pour griser les boutons désactivés */
.alpha.lettre:disabled,
.alpha.lettre.lettre-desactive:disabled {
    color: rgb(90, 6, 6);
}
